@using Microsoft.AspNet.Identity;
@if (Request.IsAuthenticated)
{
    var user = System.Web.HttpContext.Current.User.Identity.GetUserName();
    @Html.AntiForgeryToken()
    <li class="my-account h-100">
        <a class="f-600 hello-acc">Xin chào @user!</a>
        <div class="acc-option-wrap">
            <a href="/Admins/AccountAdmin/ShowInfoAccAdmin/@user" class="acc-op-link f-600">Thông tin tài khoản</a>
            <a href="/Admins/AccountAdmin/Change_passwordAdm/@user" class="acc-op-link f-600">Đổi mật khẩu</a>
            <a href="~/Accounts/Logout" class="acc-op-link f-600">Đăng xuất</a>
        </div>
    </li>
  
}
else
{
    <li class="h-100">
        <a href="/Accounts/Register" class="f-600">Tạo Tài Khoản</a>

    </li>
    <li class="h-100">
        <a href="/Accounts/Login" class="f-600">Đăng Nhập</a>
    </li>
}

<style>
    .my-account {
        position: relative;
    }

    .acc-op-link + .acc-op-link {
        margin-top: 8px;
    }

    .acc-option-wrap {
        display: none;
        position: absolute;
        flex-direction: column;
        min-width: 160px;
        top: calc(100% + 10px);
        right: 0;
        background-color: white;
        box-shadow: 0 1px 3px #ccc;
        padding: 8px;
        transform-origin: 90% top;
        animation: grownoti linear 0.156s;
    }

        .acc-option-wrap::after {
            content: "";
            position: absolute;
            border-width: 18px 21px;
            border-style: solid;
            right: 0px;
            top: -29px;
            border-color: transparent transparent white transparent;
        }

        .acc-option-wrap::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 10px;
            top: -10px;
        }

    .my-account:hover .acc-option-wrap {
        display: flex;
    }

    #mainnav > ul > li > a.hello-acc {
        line-height: 65px;
    }

    @@keyframes grownoti {
        from {
            opacity: 0;
            transform: scale(0);
        }

        to {
            opacity: 1;
            transform: scale(1);
        }
    }
</style>


