@model IEnumerable<BTL_LTQL.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admins/Views/Shared/Admin_Sp.cshtml";
}

<div class="container">

    <h2>Thông Tin Sản Phẩm</h2>

    <div>
        @*@Html.ActionLink("Thêm Sản Phẩm", "Create",null,new { @class = "btn btn-create-primary" })*@
        <a href="/Admins/ProductsAdmin/Create" class="btn btn-create-primary">Thêm Sản Phẩm</a>
    </div>
</div>

<section class="flat-row row-product-project style-1">
    <div class="container">
        <div class="title-section margin-bottom-41">
            <h2 class="title text-center">Sản Phẩm</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="divider h54"></div>
                <div class="product-content product-fourcolumn clearfix">
                    <ul class="product style2 isotope-product clearfix">
                        @foreach (var item in Model)
                        {

                            <li class="product-item kid woman">
                                <div class="product-thumb clearfix">
                                    <a href="~/Admins/ProductsAdmin/Details/@item.ProductID">
                                        <img height="300" src="@item.ProductImageName" alt="image">
                                    </a>
                                </div>
                                <div class="product-info clearfix">
                                    <span class="product-title">@item.ProductName</span>
                                    <div class="price">
                                        <ins>
                                            <span class="amount">@item.ProductPrice</span>
                                        </ins>
                                    </div>
                                    <div style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; ">
                                        @item.ProductDescription
                                    </div>
                                </div>
                                <div class="product-actions-wrap">
                                    <div class="product-action">
                                        <a class="product-action-link" href="/Admins/ProductsAdmin/Delete/@item.ProductID">Xóa</a>
                                    </div>
                                    <div class="senparate-product-action"></div>
                                    <div class="product-action">
                                        <a class="product-action-link" href="/Admins/ProductsAdmin/Edit/@item.ProductID">Sửa</a>
                                    </div>
                                </div>

                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>