@model IEnumerable<BTL_LTQL.Models.DonHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="divider h54"></div>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<div class="col-8 m-auto">
    <table class="table">
        <tr class="label-table">
            <th>
                Mã đơn hàng
            </th>
            <th>
                Ngày đặt
            </th>
            <th>
               Ngày giao
            </th>
            <th>
                Tài khoản đặt
            </th>
            <th colspan="2" class="text-center">
                Thao tác
            </th>
        </tr>

        @foreach (var item in Model)
        {            
            <tr>
                <td class="f-600" >
                    @Html.DisplayFor(modelItem => item.DonHangID)
                </td>
                <td class="f-600">
                    @item.Ngaydat.ToShortDateString()
                </td>
                <td class="f-600">
                    @item.NgayGiao.GetValueOrDefault().ToShortDateString()
                </td>
                <td class="f-600">
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td class="handle-wrap-btn">
                    <form action="/Admins/DonHangs/Set_Ngay_Giao/@item.DonHangID" method="post">
                        <input type="submit" name="giaoHang" value="Giao Hàng" class="text-white btn btn-round btn-danger text-white handle-btn" />
                    @*<a class="btn btn-primary" href="/Admins/DonHangs/Set_Ngay_Giao/@item.DonHangID" onclick="form.submit()">Giao Hàng</a>*@
                    </form>
                </td>
                <td class="handle-wrap-btn">
                    <a class="btn btn-primary" href="/Admins/DonHangs/Thongtindonhang/@item.DonHangID">Chi Tiết</a>
                </td>

            </tr>
        }

    </table>
</div>
<style>
    .handle-wrap-btn {
        width:100px;
    }
    .label-table {
        background-color: #f63440;
        color: white;
        font-weight: 600
    }
    input[type="submit"].handle-btn {
        padding: 4px 17px;
    }
    .f-600 {
        font-weight:600
    }
</style>