@model IEnumerable<BTL_LTQL.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<section class="flat-row row-product-project style-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section margin-bottom-41">
                    <h2 class="title">Sản Phẩm</h2>
                </div>
                <div class="Reg-log-wrap">
                    @using (Html.BeginForm())
                    {
                        <p>
                            Tìm kiếm: @Html.TextBox("SearchString") <input type="submit" value="Tìm kiếm" class="mt-3 text-white" />
                        </p>
                    }
                </div>
                <div class="divider h54"></div>
                <div class="product-content product-fourcolumn clearfix">
                    <ul class="product style2 isotope-product clearfix">
                        @foreach (var item in Model)
                        {

                            <li class="product-item kid woman">
                                <div class="product-thumb clearfix">
                                    <a href="#">
                                        <img height="300" src=@item.ProductImageName alt="image">
                                    </a>
                                </div>
                                <div class="product-info clearfix">
                                    <span class="product-title">@item.ProductName</span>
                                    <div class="price">
                                        <ins>
                                            <span class="amount">@item.ProductPrice.ToString("#,##0") VND</span>
                                        </ins>
                                    </div>

                                </div>
                                <div class="add-to-cart text-center">
                                    @*@Html.ActionLink("Add to Cart", "OrderNow", "ShoppingCart", new { id = item.ProductID }, null)*@
                                    <a href="/ShoppingCart/AddtoCart/@item.ProductID" style="padding:15px 76px">Thêm Vào Giỏ</a>
                                </div>

                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


