@if (Request.IsAuthenticated)
{
    @Html.AntiForgeryToken()
    <li>
        <a href="/Accounts/Register" class="f-600">Tạo Tài Khoản</a>

    </li>
    <li>
        <a href="/Accounts/Logout" class="f-600">Đăng Xuất</a>
    </li>
}
else
{
    <li>
        <a href="/Accounts/Register" class="f-600">Tạo Tài Khoản</a>

    </li>
    <li>
        <a href="/Accounts/Login" class="f-600">Đăng Nhập</a>
    </li>
}

