@model List<BaiTap2.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var item in Model)
{
    <section class="flat-row row-product-project style-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-section margin-bottom-41">
                        <h2 class="title">PRODUCT</h2>
                    </div>
                    <ul class="flat-filter style-1 text-center max-width-682 clearfix">
                        <li class="active"><a href="#" data-filter="*">All Product</a></li>
                        <li><a href="#" data-filter=".kid">For Kid’s</a></li>
                        <li><a href="#" data-filter=".man">For Man’s</a></li>
                        <li><a href="#" data-filter=".woman">For Woman’s</a></li>
                        <li><a href="#" data-filter=".accessories">Accessories</a></li>
                    </ul>
                    <div class="divider h54"></div>
                    <div class="product-content product-fourcolumn clearfix">
                        <ul class="product style2 isotope-product clearfix">
                            <li class="product-item kid woman">
                                <div class="product-thumb clearfix">
                                    <a href="#">
                                        <img src="~/Content/images/shop/sh-4/1.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="product-info clearfix">
                                    <span class="product-title">@item.Name</span>
                                    <div class="price">
                                        <ins>
                                            <span class="amount">$100.00</span>
                                        </ins>
                                    </div>
                                    <ul class="flat-color-list width-14">
                                        <li>
                                            <a href="#" class="red"></a>
                                        </li>
                                        <li>
                                            <a href="#" class="blue"></a>
                                        </li>
                                        <li>
                                            <a href="#" class="black"></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="add-to-cart text-center">
                                    <a href="#">VIEW INFO</a>
                                </div>
                                <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
}